.logo {
    font-size: 70px;
    color: $color-primary;
    width: 110px;
    height: 110px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    margin-right: 20px;

    // 這邊因為a tag內建是inline 屬性無法使用width,height所以需要轉換成block屬性，且因為logo置中的問題轉使用flex
    @include flexlayout;
}

.main-name {
    font-family: $font-nunito;
    font-size: 50px;
    color: $color-secondary;
    @include textStyles;
}

.sub-name {
    font-family: $font-josefinSans;
    font-size: 18px;
    color: $color-secondary;
    text-align: center;
    @include textStyles;
}

.main-heading {
    font-family: $font-dancingScript;
    font-size: 100px;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 40px;
}

.sub-heading {
    font-family: $font-josefinSans;
    font-size: 60px;
    font-weight: 300;
    color: $color-secondary;
    margin-bottom: 80px;
}

.main-btn {
    width: 170px;
    height: 45px;
    font-family: $font-josefinSans;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: $color-primary;
    background-color: transparent;
    border: 1px solid $color-primary;
    outline: none;
    cursor: pointer;

    // 讓按鈕出來的動畫比較滑順
    transition: all .4s;

    &:hover {
        background-color: $color-primary;
        color: $color-dark;
    }
}