body {
    background: #323975;
}

.fa-snowflake {
    color: #fff;
    position: absolute;
    animation: fall linear forwards;
}

@keyframes fall {
    to {
        transform: translateY(105vh);
    }
}