body {
      /* 這個部分設定之後會讓整個body內的物件完全置中 */
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
  }
  .impostor {
        /* 這邊是設定讓body跟一些配件像是背包安全帽
        四肢等等做定位使用 */

    position: relative;
  }

  .impostor .body {

        position: relative;
        width: 300px;
        height: 420px;
        /* 這個部分是他做出圓弧狀最重要的點 */
        /* 四個數值表示四個角順時針走 從最左上角開始 */
        border-radius: 35% 45% 0 0;
        border: 30px solid #000;
            /* 這邊使用overflow是因為紅色填充物超出外框了讓超出的部分隱藏 */
        overflow: hidden;
  }
  .impostor .fill{
        /* 這邊就會定位在父層也就是 .imposter .body上面 */
        position: absolute;
        width: 100%;
        height: 100%;
        /* 這邊是陰影的顏色 */
        background: #7B0236;
  }
  .impostor .body .shadow{
        position: absolute;
        width: 100%;
        height: 90%;
        background: #c70a01;
        border-radius: 0% 10% 25% 40% / 
        20% 0% 100% 100%;
  }
.impostor .glass-bowl{
      position: absolute;
      width: 200px;
      height: 130px;
      background: #4a646d;
      right: -20px;
      top: 90px;
      border: 30px solid #000;
      border-radius: 25% 45% 40% 40% / 50%;
      overflow: hidden;
      /* 讓鏡片旋轉一點點 */
      transform: rotate(-4deg);
}
.impostor .glass-bowl .reflection-blue{
      position: absolute;
      right: 0;
      width: 90%;
      height: 70px;
      background:#94c0db;
      border-radius: 10% 10% 100% 100% / 100% 100%
      50% 100%;
}
.impostor .glass-bowl .reflection-white{
      position: absolute;
      right: 10%;
      top: 10px;
      width: 50%;
      height: 40px;
      background:#fff;
      border-radius: 30% 70% 30% 30% / 30% 70%
      30% 60%;
}
.legs{
      display: flex;
      /* 這邊最大的範圍就是body所以space between會在兩條腿之間產生一樣的空隙 */
      justify-content: space-between;
      /* 這邊的transform Y的意思是移動Y軸 */
      transform: translateY(-30px );
}

.impostor .legs .leg-left{
      width: 110px;
      height: 130px;
      background: #7B0236;
      border-left: 30px solid #000;
      border-right: 30px solid #000;
      border-bottom: 30px solid #000;
      border-radius: 0 0 40% 40%;
}
.impostor .legs .leg-right{
      /* 這邊是為了定位給胯下處使用當它的父層 */
      position: relative;
      width: 90px;
      height: 105px;
      background: #7B0236;
      border-left: 30px solid #000;
      border-right: 30px solid #000;
      border-bottom: 30px solid #000;
      border-radius: 0 0 40% 40%;
}

.impostor .legs .leg-right:before{
      content: '';
      position: absolute;
      top: 0;
      left: -50px;
      width: 100px;
      height: 30px;
      background: #000;
      border-radius: 0 0 100% 0;
}

.impostor .backpack{
      position: absolute;
      height: 280px;
      width: 80px;
      background: #c70a01;
      border: 30px solid #000;
      left: -90px;
      top: 130px;
      border-radius: 40% 0 0 40%/ 15%;

}
.impostor .backpack .shadow{
      position: absolute;
      width: 100%;
      height: 85%;
      background: #7B0236;
      bottom: 0;
      overflow: hidden;
      border-radius: 40% 0 0 0/ 10% 0 0 0;
}

.impostor .floor-shadow{
      position: absolute;
      bottom: 10px;
      left: -15%;
      width: 470px;
      height: 100px;
      background: #535858;
      border-radius: 50%;

}