/* No CSS */

#movies img,
#movie img {
    width: 100%;
    object-fit: contain;
}

#movies .col-md-3 .well {
    height: 390px;
}

#movies .col-md-3 img {
    height: 240px;
}

@media (min-width: 960x) {
    #movies .col-md-3 .well {
        height: 390px;
    }

    #movies .col-md-3 img {
        height: 240px;
    }

}

#searchForm {
    display: flex;
}

.btn {
    flex: 1;
    color: #fff;
    background-color: rgb(245, 66, 11);
    outline: none;
}

.btn:hover {
    background-color: rgb(196, 54, 11);
    ;
}

.form-control {
    flex: 9;
}

.container {
    width: 70%;
}

input {
    width: 60%;
}

.text center {
    text-align: center;
}

div.bg-light {
    margin-bottom: 20px;
    width: 100%;
}

a {
    color: rgb(201, 53, 8);
    text-decoration: none;
}

a:hover {
    color: rgb(141, 42, 12);
    ;
}

.wrapper {
    margin: 20px auto;
    width: 70%;

    background-color: rgba(46, 42, 42, 0.7);
    border-radius: 5px;
    box-shadow: 3px 4px 6px rgba(255, 255, 255, 0.2);
}