* {
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* 全部btn的設定 */
button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
    padding: 5px 15px;
}

select {
    width: 200px;
    padding: 5px;
    border-radius: 0;
    background-color: #a7c5e3;
}


select:focus,
button:focus {
    outline: 0;
}


/* 設定按鈕定位 */
.settings-btn {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

/* 最上方的難度選擇區 */
.settings {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

    /* 這邊要做往上移動的特效 */
    transform: translateY(0%);
    transition: transform 0.3s ease-in-out;
}

/* 這邊使用JS操作點擊左下設定按鈕後才會加入這個class */
.settings.hide {
    transform: translateY(-100%);
}


/* 遊戲區域 */

.container {
    background-color: #34495e;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    color: #fff;

    /* 這邊設置relative是因為等下要設置分數以及時間的定位在上面 */
    position: relative;
    text-align: center;
    width: 500px;

}


h2 {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 4px;
    margin: 0 0 40px;
}


/* 同步顯示文字區域 */
h1 {
    margin: 0;
}

/* 輸入文字區 */
input {
    border: 0;
    border-radius: 4px;
    font-size: 14px;
    width: 300px;
    padding: 12px 20px;
    margin-top: 10px;
}

/* 這邊的內容會由JS操作來顯示分數 */
.score-container {
    position: absolute;
    top: 60px;
    right: 20px;
}

/* 這邊的內容會由JS操作來顯示時間 */
.time-container {
    position: absolute;
    top: 60px;
    left: 20px;
}

/* 遊戲結束時才會轉到這邊 */
.end-game-container {
    background-color: inherit;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}